@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

html,
body {
  background-color: black;
  color: white;
  font-family: 'Outfit', sans-serif;
}